<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- <script src="static/js/script.js"></script> -->
		<title>My Form</title>
	</head>
	<body>
		<form action="/processForm" method="POST">
			<input id="publication-date" type="text" name="publication-date" value="" placeholder="dd/mm/aaaa"></input>
			<input id="btnExecute" type="submit" value="Execute"></input>
			<input id="reset" type="reset" value="Reset"></input>
		</form>
		<div>
			<p id="result">{{ result }}</p>
		</div>
	</body>

</html>
